export GCP_PROJECT_ID=""

export GCE_INSTANCE_NAME="gcs-sftp-server"
export GCE_ZONE="us-central1-a"
export GCE_MACHINE_TYPE="e2-medium"

export USERNAME=""
export PASSWORD=""
export PUBLIC_KEY=""

export GCS_BUCKET_NAME=""

export GITHUB_REPO="https://github.com/zaratsian/sftp-to-gcs-fuse.git"
