Protocol 2

Include /etc/ssh/sshd_config.d/*.conf

Port 22

PrintMotd no

ClientAliveInterval 300
ClientAliveCountMax 0

Subsystem   sftp    internal-sftp

PermitRootLogin no
PermitEmptyPasswords no
#RSAAuthentication yes
#AuthenticationMethods publickey
PubkeyAuthentication yes
AuthorizedKeysFile    .ssh/authorized_keys
PasswordAuthentication yes
ChallengeResponseAuthentication no
UsePAM yes

Match Group gcs-sftp-group
    ChrootDirectory /home/%u/sftpdir
    #ChrootDirectory %h
    ForceCommand internal-sftp
    AllowTcpForwarding no
    X11Forwarding no

